.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 0.7rem;

  .user-info {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .username {
      color: #f0f2ff;
    }
    .email {
      color: #9cb0fe;
      font-size: 0.5rem;
    }
  }

  .user-avatar {
    border-radius: 50%;
    width: 120px;
  }
}

.menu-section {
  width: 100%;

  nav {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    li {
      color: #9cb0fe;
      padding: 30px 20px 20px 60px;
      text-align: left;
      font-weight: 900;
      cursor: pointer;
    }

    li.active {
      color: #f0f2ff;
      background-color: #5374f0;
    }
  }
}
